<!DOCTYPE html>
<html lang="en">
<head>
    <title>Biography</title>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <div class="container">
        <div class="panel-box">
            <img class="profile-pic" src="images/phytols-avatar.png" />

            <div class="profile-card">
                <div id="name">
                    <span class="rainbow">phytols</span>
                </div>
                <div id="ig">
                    <span>@devPhytols</span>
                </div>
                <div id="about">
                    <span>{backend, front-end developer}</span>
                </div>
                <div id="social">
                    <a href="https://github.com/devPhytols" target="_blank"><i id="github" class="fab fa-github-square"></i></a>
                    <a href="/"><i id="instagram" class="fab fa-instagram"></i></a>
                    <a href="#"><i id="discord" class="fab fa-discord"></i></a>
                    <a href="/"><i id="linkedin" class="fab fa-linkedin"></i></a>
                    <a href="/" target="_blank"><i id="facebook" class="fab fa-facebook-square"></i></a>
                </div>
            </div>
        </div>
        <div class="footer">
            <span>❤ Biography made by <a href="https://github.com/devPhytols">devPhytols</a></span>
        </div>
    </div>
</body>
</html>